{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <h1>{{ team.name }}</h1>

    <h2>Les joueurs</h2>
    <ul>
        {% for player in team.playingUsers %}
            <li>{{ player.lastname }} {{ player.firstname }}</li>
        {% endfor %}
    </ul>

    {% if (is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == team.leader.id) or is_granted('ROLE_ADMIN') %}
    <h2>Les personnes ayant postulé</h2>
    <ul>
        {% for applicant in team.applicants %}
            <li>{{ applicant.lastname }} {{ applicant.firstname }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <a class="btn btn-primary pull-right col-md-2" href="{{ path('mgd_team_edit', { 'id': team.id } ) }}">Edit</a>
    <a class="btn btn-default pull-right col-md-2 margin-right-10" href="{{ path('mdg_tournament_view', { 'id': team.tournament.id } ) }}">Retour au tournoi</a>
    {{ form_start(delete_form) }}
    {{ form_end(delete_form) }}
    <div class="clearfix"></div>
{% endblock %}
