{% trans_default_domain 'FOSUserBundle' %}

{# @var user \MGD\UserBundle\Entity\User#}
<div class="col-md-6">
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
</div>

<div class="col-md-6">
    <p>Nom: {{ user.lastname }}</p>
    <p>Prénom: {{ user.firstname }}</p>
</div>
<div class="clearfix"></div>