{% extends "base.html.twig" %}

{% block body %}
    <h1 class="col-md-12">Liste des news
        <a href="{{ path("mgd_news_new") }}" class="btn btn-primary pull-right col-md-2"><i class="glyphicon glyphicon-plus"></i>&nbsp;Ajouter une news</a>
    </h1>

    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
        <tr>
            <th data-priority="2">Titre</th>
            <th data-priority="5">Date de publication</th>
            <th data-priority="4">Créateur</th>
            <th data-priority="4">Visible</th>
            <th data-priority="1">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for news in listNews %}
            <tr>
                <td>{{ news.title }}</td>
                <td>{{ news.publicationDate|date("d/m/Y") }}</td>
                <td>{{ news.author.firstname }} {{ news.author.lastname }}</td>
                <td class="text-center"><i class="glyphicon {% if news.visible %}glyphicon-ok text-success{% else %}glyphicon-remove text-danger{% endif %}"></i> </td>
                <td class="text-center">
                    {% spaceless %}
                    <a href="{{ path("mgd_news_show", {"id" : news.id }) }}" title="Consulter">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </a>
                    {% endspaceless %}
                    {% spaceless %}
                    <a href="{{ path("mgd_news_edit", {"id" : news.id }) }}" title="Modifier">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    {% endspaceless %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="clearfix"></div>
{% endblock %}
